body{
    font-family: Arial;
    font-size: 15px;
    color: black;
    text-align: center;
}

#cabecera{
    color: blue;
    border: 2px solid blue;
    text-align: left;
    padding: 0 10px;
    background-color: aquamarine;
    color: white;
}

span{
    font-size: 15px;
    color: black;
}

.container{
    width: 50%;
    padding: 2em;
    border: 1px solid;
}
